/* .Contact {
    margin: auto;
    width: 50%;
    padding: 10px;
    
  }

  button {
    justify-content: center;
  } */

  .form-group {
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }

  .btn {
    color: #74b76c;
  }